html {
  font-family: "Comfortaa", cursive;
}

input {
  font-family: "Comfortaa", cursive;
}

input {
  width: 90vw;
  text-align: center;
}

button {
  width: 75 px;
  height: 4vh;
  margin: auto;
  border: none;
  color: white;
  background-color: black;

}

.app {
  margin-top: 5vh;
  text-align: center;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heart{
    position: relative;
    width: 75px;
    height: 75px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: black;
  }
  .heart:before,
  .heart:after{
    position: absolute;
    width: 75px;
    height: 75px;
    content: '';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: black;
  }
  .heart:before{
    bottom: 0px;
    left: -37.5px;
  }
  .heart:after{
    top: -37.5px;
    right: 0px;
  }

  .turn_red {
    background-color: red;
  }
  .turn_red:before,
  .turn_red:after {
    background-color: red;
  }


.button_legend {
    font-size: larger;
    color: white;
    position: relative;
    z-index:1;
    bottom: 10px;
    left: -9.5px;
    transform: rotate(-45deg);
}

.board {
    margin-top: 5vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    height: 80vh;
}

.game {
    margin-top: 5vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    height: 80vh;
}

.scoreBoard {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
}

.resultsBoard {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.green {
  color: green;
}

.red {
  color: red;
}

.range[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: black;
  outline: none;
}

.range[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 0;
  background: black;
  cursor: pointer;
}

.hidden {
    display: none;
  }